.ProductMeta__TaxNotice.Rte.Text--subdued p, .Cart__Taxes p {
  display: block;
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 0;
}
.UnitPriceMeasurement{
  font-size: 80% !important;
  letter-spacing: 0 !important;
  text-transform: lowercase !important;
  font-weight: 100 !important;
}